.baseCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body{
  margin:0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.active {
  color: red;
}

.inactive {
  color: #f9f9f9;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
}

.links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pkmnSprite{
  height: 300px;
  width: 300px;
}

.logo{
  height:40px;
  width:40px;
  object-fit: scale-down;
}

.pkmnInfo{
  display: flex;
}

.statList{
  padding-left: 10%;
  font-size: 1.3em;
  font-weight: 500;
  align-items: center;
}